table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    background-color: green;
}
tr:nth-child(odd){
    background-color: #6a92c7;
}
td,tr{
    text-align: center;
}
table{
    height: 200px;
    width: 70%;
}