form{
    background-color: white;
    padding: 30px;
    margin: 60px;
}
body{
    background-color: black;
}
label{
    width: 140px;
    float: left;
    text-align: left;
}
input{
    float: left;
}