form{
    background-color: #7a3643;
    padding: 80px;
    margin: 80px;
}
input[type=text],input[type=password]{
    width: 100%;
    border: 1px solid black;
    box-shadow: 4px 3px 5px 5px #960d0d;
    height: 30px;
    border-radius: 10px;
}
input[type=submit]{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    background-color: #a05f8e;
}
input[type=submit]:hover{
    background-color: white;
}